{% block content %}
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">EUTMS</a>
      <ul id="dropdown1" class="dropdown-content">
          <li><a href="#!">Profile</a></li>
          <li class="divider"></li>
          <li><a href="#!">Logout</a></li>
          </ul>
      <ul class="right hide-on-med-and-down">
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">UserName<i class="material-icons right">account_circle</i></a></li>
      </ul>
    </div>
  </nav>
{% endblock  %}